body {
    background: #FADBD8;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
    align-items: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

h2 {
    text-align: center;
}