<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail Fashion Store</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->
</head>

<body>
    <header>
        <h1>Retail Fashion Store</h1>
    </header>

    <main>
        <div class="container">
            <div class="container-heading">
                <h2> <span><i class="fa fa-tachometer" aria-hidden="true"></i></span> Dashboard</h2>
            </div>

            <div class="container-cards">
                <div class="box1">
                    <div class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                    <div class="subheading">Total Sales</div>
                    <div id="ts" class="amount">{{totalsales}}</div>
                    <br>
                    <br>

                    <div class="change">Increased by 60%</div>
                </div>
                <div class="box2">
                    <div class="icon"><i class="fa fa-database" aria-hidden="true"></i></div>
                    <div class="subheading">Average Sales</div>
                    <div id="avg_sale" class="amount">{{averagesales}}</div>
                    <br>
                    <br>

                    <div class="change">Increased by 30%</div>
                </div>
                <div class="box3">
                    <div class="icon"><i class="fa fa-flag" aria-hidden="true"></i></div>
                    <div class="subheading">Unique Visitors</div>
                    <div id="uv" class="amount">{{uniquevisitors}}</div>
                    <br>
                    <br>

                    <div class="change">Increased by 80%</div>
                </div>
            </div>
        </div>
        <section class="table-rapper">
            <div class="container">
                <h2>Product Table</h2>
                <div class="container-table">
                    <table>
                        <thead>
                            <tr>
                                <th>username</th>
                                <th>product_id</th>
                                <th>sales_amount</th>
                                <th>sale_date</th>
                            </tr>
                        </thead>

                        <tbody id="table-b">
                            <tr *ngFor="let i of sold_items">
                                <td>{{i.username}}</td>
                                <td>{{i.product_id}}</td>
                                <td>{{i.sales_amount}}</td>
                                <td>{{i.sale_date}}</td>
                            </tr>

                        </tbody>
                    </table>

                </div>


            </div>
        </section>

    </main>
    <!-- <script src="../static/script.js"></script> -->

</body>